:root {
    --delft-blue: #273458ff;
    --delft-blue-2: #353D57ff;
    --savoy-blue: #5068B2ff;
    --turquoise: #0CD7B0ff;
    --electric-blue: #76E3E7ff;
    --white: #FFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--delft-blue-2);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--delft-blue);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

table, th, td {
    border: 1px solid var(--delft-blue-2);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--delft-blue-2);
    color: white;
}

td {
    color: var(--delft-blue);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--savoy-blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--turquoise);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--delft-blue-2);
    width: 80%;
    border-radius: 10px;
}

.close {
    color: var(--delft-blue-2);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--delft-blue);
    text-decoration: none;
    cursor: pointer;
}

label {
    color: var(--delft-blue-2);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid var(--delft-blue);
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: var(--turquoise);
    outline: none;
}

#btnGuardar {
    background-color: var(--savoy-blue);
}

#btnGuardar:hover {
    background-color: var(--turquoise);
}

#campoBusqueda {
    margin-top: 15px;
    margin-bottom: 0px;
    width: 20%;
    box-sizing: border-box;
}